openapi: 3.0.3
info:
  contact:
    email: support@peachpayments.com
    name: Peach Payments Support
    url: https://support.peachpayments.com/support/home
  description: The Payments API enables you to do a custom integration with Peach
    Payments and thereby support multiple payment methods.
  license:
    name: MIT
    url: https://mit-license.org
  termsOfService: https://swagger.io/terms/
  title: Payments API inbound
  version: 2.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
servers:
- description: Sandbox environment.
  url: https://testapi-v2.peachpayments.com
- description: Live environment.
  url: https://api-v2.peachpayments.com
security:
- BearerAuth: []
tags:
- name: Batch
- name: Payments API inbound
- name: Checkout generation
- name: Payment
- name: Status
- name: Files
- name: Helpers
- name: Checkout V2 generation
- name: Payments API outbound
paths:
  /checkout/initiate:
    post:
      description: |
        Provide a redirect URL to the caller to redirect the user into the Checkout experience. The POST request contains the entityId, signature, purchase parameters, and any custom parameters that a merchant optionally sends. This allows the checkout instance to be created from a backend without requiring a "form post", or other similar method, from the frontend.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/checkout-payment#redirect-based-checkout).
      operationId: CheckoutGeneration_initiateRedirectCheckout
      parameters:
      - description: An allowlisted domain for the merchant.
        example: https://mydemostore.com
        explode: false
        in: header
        name: Referer
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: https://mydemostore.com
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Checkout'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Checkout'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutGenerationInitiateRedirectCheckoutResponse'
          description: Request processed successfully.
        "400":
          description: Invalid authentication information.
        "500":
          description: Internal server error.
      summary: Initiate redirect-based Checkout
      tags:
      - Checkout generation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--checkout-initiate
      x-content-type: application/json
      x-accepts: application/json
  /checkout:
    post:
      callbacks:
        Checkout created:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout created for request.
              operationId: checkout_created_Post
              requestBody:
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutCreatedWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              x-callback-request: true
        Checkout cancelled:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout cancelled.
              operationId: checkout_cancelled_Post
              requestBody:
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutCancelledWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              x-callback-request: true
        Checkout uncertain:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout potentially cancelled.
              operationId: checkout_uncertain_Post
              requestBody:
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutUncertainWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              x-callback-request: true
        Checkout pending:
          '{$request.body#/notificationUrl}':
            post:
              description: Transaction created on the checkout instance.
              operationId: checkout_pending_Post
              requestBody:
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutPendingWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              x-callback-request: true
        Checkout successful:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout completed successfully.
              operationId: checkout_successful_Post
              requestBody:
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutSuccessfulWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              x-callback-request: true
      description: |
        Load the Checkout frontend to complete a payment. The POST request contains the entityId, signature, purchase parameters, and any custom parameters that a merchant optionally sends.

        Sign the data on the backend and execute the POST from the browser.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/checkout-payment#form-post-checkout).
      operationId: CheckoutGeneration_initiatePayment
      parameters:
      - description: An allowlisted domain for the merchant.
        example: https://mydemostore.com
        explode: false
        in: header
        name: Referer
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: https://mydemostore.com
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Checkout'
        required: true
      responses:
        "200":
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/CheckoutPage'
          description: Checkout successfully created.
        "400":
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/CheckoutErrorPage'
          description: A validation error has occurred with Checkout.
          x-do-not-generate: true
        "500":
          description: Internal server error.
      summary: Initiate Checkout
      tags:
      - Checkout generation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--checkout
      x-content-type: application/x-www-form-urlencoded
      x-accepts: text/html
  /checkout/validate:
    post:
      description: Validate a request before trying to initiate a checkout session.
      operationId: CheckoutGeneration_validateRequest
      parameters:
      - description: An allowlisted domain for the merchant.
        example: https://mydemostore.com
        explode: false
        in: header
        name: Referer
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: https://mydemostore.com
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Checkout'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Checkout'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Valid request.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Valid request.
          description: Valid request.
        "400":
          content:
            application/json:
              examples:
                Invalid body:
                  description: Body format not supported.
                  value:
                    message: Body is not in a valid format.
                Missing referer header:
                  description: Referer header required.
                  value:
                    message: Referer header is missing.
                Duplicate signature:
                  description: The same signature has been received in the last 24
                    hours.
                  value:
                    message: Duplicate signature.
                Mismatched signature:
                  description: The received signature does not match the generated
                    signature.
                  value:
                    message: Signatures don't match.
                Invalid entity ID:
                  description: Invalid entity ID.
                  value:
                    message: Invalid entity ID.
                Merchant domain is not whitelisted:
                  description: The domain the request was received from is not whitelisted
                    for the merchant.
                  value:
                    message: Merchant domain is not whitelisted.
                Validation Error:
                  description: Validation error with the Checkout body.
                  value:
                    validation_errors:
                      amount: amount is required
              schema:
                $ref: '#/components/schemas/CheckoutGenerationValidateRequestResponse'
          description: Invalid request.
          x-do-not-generate: true
        "500":
          description: Internal server error.
      summary: Validate Checkout request
      tags:
      - Checkout generation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--checkout-validate
      x-content-type: application/json
      x-accepts: application/json
  /status:
    get:
      description: |
        Get the status of a checkout instance.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/checkout-payment-status).
      operationId: Status_checkoutStatusGet
      parameters:
      - description: Merchant's entity ID.
        explode: true
        in: query
        name: authentication.entityId
        required: true
        schema:
          example: 8ac7a4ca68c22c4d0168c2caab2e0025
          maxLength: 64
          type: string
          x-konfig-original-example: 8ac7a4ca68c22c4d0168c2caab2e0025
          x-konfig-generated-schema: konfig-generated-schema-paths--status-get-parameters-0-schema
        style: form
      - description: Checkout ID.
        explode: true
        in: query
        name: checkoutId
        required: false
        schema:
          example: 948cc8dec52a11eb85290242ac130003
          maxLength: 64
          type: string
          x-konfig-original-example: 948cc8dec52a11eb85290242ac130003
          x-konfig-generated-schema: konfig-generated-schema-paths--status-get-parameters-1-schema
        style: form
      - description: Merchant transaction ID.
        explode: true
        in: query
        name: merchantTransactionId
        required: false
        schema:
          example: OrderNo453432
          maxLength: 64
          type: string
          x-konfig-original-example: OrderNo453432
          x-konfig-generated-schema: konfig-generated-schema-paths--status-get-parameters-2-schema
        style: form
      - description: Signature of data signed with secret key of merchant.
        explode: true
        in: query
        name: signature
        required: true
        schema:
          example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
          maxLength: 64
          type: string
          x-konfig-original-example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
          x-konfig-generated-schema: konfig-generated-schema-paths--status-get-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutStatus'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutError'
          description: "Invalid state, check the body for more details."
          x-do-not-generate: true
        "500":
          description: Internal server error.
      summary: Query Checkout status
      tags:
      - Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--status
      x-accepts: application/json
  /merchant_specs:
    post:
      description: "Retrieve a list of enabled payment methods for a channel given\
        \ a particular currency.\n\nFor more information, see the [documentation](https://developer.peachpayments.com/docs/checkout-merchant-specs).\
        \ \n"
      operationId: Helpers_getPaymentMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelpersGetPaymentMethodsRequest'
        required: true
      responses:
        "200":
          description: Request processed successfully.
        "400":
          description: Invalid authentication information.
        "500":
          description: Internal server error.
      summary: Retrieve a list of payment methods for a currency
      tags:
      - Helpers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--merchant_specs
      x-content-type: application/json
      x-accepts: application/json
  /v2/checkout:
    post:
      description: "Create a checkout instance for use from Embedded Checkout.\n\n\
        For more information, see the [documentation](https://developer.peachpayments.com/docs/checkout-embedded-tutorial#tutorial).\
        \ \n"
      operationId: CheckoutV2Generation_initiateCheckoutInstance
      parameters:
      - description: An allowlisted domain for the merchant.
        example: https://mydemostore.com
        explode: false
        in: header
        name: Referer
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: https://mydemostore.com
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutV2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckoutV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutV2GenerationInitiateCheckoutInstanceResponse'
          description: Checkout successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: A validation error has occurred with Checkout.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: "Request lacks valid authentication, message in response contains\
            \ specifics."
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Invalid entity ID passed.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Internal server error.
          x-do-not-generate: true
      summary: Initiate Checkout
      tags:
      - Checkout V2 generation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v2-checkout
      x-content-type: application/json
      x-accepts: application/json
  /api/channels/{entityId}/payments:
    post:
      callbacks:
        Payment link created:
          '{$request.body#/options/notificationUrl}':
            post:
              description: Event raised when a payment link is created.
              operationId: payment_link_created_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkCreatedWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              summary: Payment link created for request.
              x-callback-request: true
        Payment link opened:
          '{$request.body#/options/notificationUrl}':
            post:
              description: Event raised when a user opens a payment link.
              operationId: payment_link_opened_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkOpenedWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              summary: Payment link opened by a user.
              x-callback-request: true
        Payment link processing:
          '{$request.body#/options/notificationUrl}':
            post:
              description: Event raised when a user is directed to Checkout to pay.
              operationId: payment_link_processing_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkProcessingWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              summary: Payment link is processing.
              x-callback-request: true
        Payment link expired:
          '{$request.body#/options/notificationUrl}':
            post:
              description: Event raised when a payment link expires.
              operationId: payment_link_expired_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkExpiredWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              summary: Payment link expired.
              x-callback-request: true
        Payment link completed:
          '{$request.body#/options/notificationUrl}':
            post:
              description: Event raised when a payment link is completed.
              operationId: payment_link_completed_Post
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkCompletedWebhook'
                required: true
              responses:
                "200":
                  description: Return this code if your service accepts the webhook.
              summary: Payment link completed.
              x-callback-request: true
      description: |
        Generate a unique payment link for a transaction and optionally send this link to the recipient via email, SMS, WhatsApp, or a combination of the three.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/generate-link-1).
      operationId: Payment_generateLink
      parameters:
      - description: The entity for the request.
        explode: false
        in: path
        name: entityId
        required: true
        schema:
          example: 8ac7a4ca694cec2601694cf5f9360026
          type: string
          x-konfig-original-example: 8ac7a4ca694cec2601694cf5f9360026
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateLinkPayment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateLinkResponse'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateLinkErrorResponse'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
      summary: Generate link
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-channels-entityId-payments
      x-content-type: application/json
      x-accepts: application/json
  /api/payments:
    get:
      description: "Retrieve a paginated list or export a CSV of all payment links.\
        \ To export to CSV, change the request header's `Accept` value to `text/csv`.\
        \ For more information, see the [documentation](https://developer.peachpayments.com/docs/retrieve-all-payment-links),\
        \ or to try it out, see our [Postman collection](https://www.postman.com/peachpayments/workspace/peach-payments-public-workspace/request/13324425-265d80b0-5baa-478b-be10-debc942ca8f3)."
      operationId: Payment_getAllPaymentLinks
      parameters:
      - description: The unique merchant ID to scope the list to. Required if you're
          exporting payment links to CSV.
        explode: true
        in: query
        name: merchant
        required: false
        schema:
          example: 9f6ea39b121d11e89d9774d4352a31dz
          type: string
          x-konfig-original-example: 9f6ea39b121d11e89d9774d4352a31dz
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-0-schema
        style: form
      - description: The offset from which to read data.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-1-schema
        style: form
      - description: The amount of items to retrieve.
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 50
          example: 50
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-2-schema
        style: form
      - description: Retrieve all payment links from the start date onwards.
        explode: true
        in: query
        name: "filters[startDate]"
        required: false
        schema:
          example: 2018-03-20T09:12:28Z
          format: date-time
          type: string
          x-konfig-original-example: 2018-03-20T09:12:28Z
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-3-schema
        style: form
      - description: Retrieve all payment links until the end date.
        explode: true
        in: query
        name: "filters[endDate]"
        required: false
        schema:
          example: 2018-03-20T09:12:28Z
          format: date-time
          type: string
          x-konfig-original-example: 2018-03-20T09:12:28Z
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-4-schema
        style: form
      - description: The payment link status to filter on.
        explode: true
        in: query
        name: "filters[status]"
        required: false
        schema:
          enum:
          - initiated
          - processing
          - expired
          - cancelled
          - completed
          example: initiated
          type: string
          x-konfig-original-example: initiated
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-5-schema
        style: form
      - description: The amount to filter by.
        explode: true
        in: query
        name: "filters[amountValue]"
        required: false
        schema:
          example: 100
          type: number
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-6-schema
        style: form
      - description: How to use the amountValue for filtering.
        explode: true
        in: query
        name: "filters[amountOperator]"
        required: false
        schema:
          enum:
          - lt
          - lte
          - gt
          - gte
          - eq
          example: lt
          type: string
          x-konfig-original-example: lt
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-7-schema
        style: form
      - description: The sending option to filter on.
        explode: true
        in: query
        name: "filters[sendingOptions]"
        required: false
        schema:
          enum:
          - sendEmail
          - sendSms
          - sendWhatsapp
          - emailCc
          - emailBcc
          example: sendEmail
          type: string
          x-konfig-original-example: sendEmail
          x-konfig-generated-schema: konfig-generated-schema-paths--api-payments-get-parameters-8-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentGetAllPaymentLinksResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/PaymentGetAllPaymentLinks200Response'
          description: OK.
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
      summary: Retrieve or export all payment links
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-payments
      x-accepts: application/json
  /api/payments/{paymentId}:
    delete:
      description: |
        Cancel a previously-generated link by supplying the unique paymentId which is returned to you in the payment response.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/cancel-link).
      operationId: Payment_cancelLink
      parameters:
      - description: The ID of the payment. Returned when creating a new payment.
        example: b95d6888-591b-4538-b508-6102cf1259c9
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: b95d6888-591b-4538-b508-6102cf1259c9
      responses:
        "200":
          content:
            application/json:
              example:
                message: Payment 12cc649f-70e9-4c50-8682-28eb94634ea6 has been successfully
                  cancelled.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Payment 12cc649f-70e9-4c50-8682-28eb94634ea6 has been successfully
                  cancelled.
          description: OK.
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                message: The specified resource was not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: The specified resource was not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Cancel link
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--api-payments-paymentId
      x-accepts: application/json
    get:
      description: |
        Query the status of a payment.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/query-payment).
      operationId: Status_queryPaymentStatus
      parameters:
      - description: Payment ID. Returned when creating a new payment.
        example: b95d6888-591b-4538-b508-6102cf1259c9
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: b95d6888-591b-4538-b508-6102cf1259c9
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusQueryPaymentStatusResponse'
          description: OK.
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                message: The specified resource was not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: The specified resource was not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Query payment status
      tags:
      - Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-payments-paymentId
      x-accepts: application/json
  /api/payments/{paymentId}/files/{fileId}:
    get:
      description: Downloads a file that was attached to a payment link.
      operationId: Files_downloadFile
      parameters:
      - description: Payment ID.
        example: b95d6888-591b-4538-b508-6102cf1259c9
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: b95d6888-591b-4538-b508-6102cf1259c9
      - description: File ID.
        example: ca6cd55b-4be6-451d-bd72-fe5b7ec1f75z
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: ca6cd55b-4be6-451d-bd72-fe5b7ec1f75z
      responses:
        "200":
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                message: The specified resource was not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: The specified resource was not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Download a file
      tags:
      - Files
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-payments-paymentId-files-fileId
      x-accepts: application/json
  /api/attachments:
    post:
      description: Upload a file so that it can be attached to a payment link. Only
        PDFs smaller than 5 MB are supported.
      operationId: Files_uploadFile
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                contentType: application/pdf
                style: form
            schema:
              $ref: '#/components/schemas/FilesUploadFileRequest'
        description: File content.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesUploadFileResponse'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                message: The specified resource was not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: The specified resource was not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Upload a file
      tags:
      - Files
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-attachments
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/channels/{entityId}/payments/batches:
    get:
      description: Query all batch statuses of a batch for a channel.
      operationId: Batch_getBatchStatuses
      parameters:
      - description: The entity for the request.
        explode: false
        in: path
        name: entityId
        required: true
        schema:
          example: 8ac7a4ca694cec2601694cf5f9360026
          type: string
          x-konfig-original-example: 8ac7a4ca694cec2601694cf5f9360026
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-batches-get-parameters-0-schema
        style: simple
      - description: The offset from which to read data.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-batches-get-parameters-1-schema
        style: form
      - description: The amount of items to retrieve.
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 50
          example: 50
          type: number
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-batches-get-parameters-2-schema
        style: form
      - description: Retrieve all batches from the start date onwards.
        explode: true
        in: query
        name: "filters[startDate]"
        required: false
        schema:
          example: 2018-03-20T09:12:28Z
          format: date-time
          type: string
          x-konfig-original-example: 2018-03-20T09:12:28Z
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-batches-get-parameters-3-schema
        style: form
      - description: Retrieve all batches until the end date.
        explode: true
        in: query
        name: "filters[endDate]"
        required: false
        schema:
          example: 2018-03-20T09:12:28Z
          format: date-time
          type: string
          x-konfig-original-example: 2018-03-20T09:12:28Z
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-batches-get-parameters-4-schema
        style: form
      - description: The payment link status to filter on.
        explode: true
        in: query
        name: "filters[status]"
        required: false
        schema:
          enum:
          - initiated
          - processing
          - expired
          - error
          - completed
          example: initiated
          type: string
          x-konfig-original-example: initiated
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-batches-get-parameters-5-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetBatchStatusesResponse'
          description: URL.
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                message: Channel not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Channel not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Get all batch statuses
      tags:
      - Batch
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-channels-entityId-payments-batches
      x-accepts: application/json
    post:
      description: |
        Returns a URL to which the batch file must be uploaded.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/generate-bulk-payment-links).
      operationId: Batch_generateLink
      parameters:
      - description: The entity for the request.
        explode: false
        in: path
        name: entityId
        required: true
        schema:
          example: 8ac7a4ca694cec2601694cf5f9360026
          type: string
          x-konfig-original-example: 8ac7a4ca694cec2601694cf5f9360026
          x-konfig-generated-schema: konfig-generated-schema-paths--api-channels-entityId-payments-batches-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGenerateLinkRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGenerateLinkResponse'
          description: Batch ID and URL.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                message: Request lacks valid authentication.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Request lacks valid authentication.
          description: Request lacks valid authentication.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                message: Channel not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Channel not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Generate batch link
      tags:
      - Batch
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-channels-entityId-payments-batches
      x-content-type: application/json
      x-accepts: application/json
  /api/batches/{batchId}:
    get:
      description: Returns the status of the batch.
      operationId: Batch_linkStatusGet
      parameters:
      - description: The batch ID for the request.
        explode: false
        in: path
        name: batchId
        required: true
        schema:
          example: 421e1e63-ddd5-46ec-8812-74eda861259b
          type: string
          x-konfig-original-example: 421e1e63-ddd5-46ec-8812-74eda861259b
          x-konfig-generated-schema: konfig-generated-schema-paths--api-batches-batchId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
          description: Status received.
        "404":
          content:
            application/json:
              example:
                message: Batch ID not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Batch ID not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Batch link status
      tags:
      - Batch
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-batches-batchId
      x-accepts: application/json
  /api/batches/{batchId}/files:
    get:
      description: Returns a set of URLs that can be accessed to retrieve the batch
        error files.
      operationId: Batch_getErrorFiles
      parameters:
      - description: The batch for the request.
        explode: false
        in: path
        name: batchId
        required: true
        schema:
          example: 421e1e63-ddd5-46ec-8812-74eda861259b
          type: string
          x-konfig-original-example: 421e1e63-ddd5-46ec-8812-74eda861259b
          x-konfig-generated-schema: konfig-generated-schema-paths--api-batches-batchId-files-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetErrorFilesResponse'
          description: Error files.
        "404":
          content:
            application/json:
              example:
                message: Batch ID not found.
              schema:
                $ref: '#/components/schemas/MessageResponse'
              x-konfig-original-example:
                message: Batch ID not found.
          description: The specified resource was not found.
          x-do-not-generate: true
      summary: Get batch error files
      tags:
      - Batch
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-batches-batchId-files
      x-accepts: application/json
  /:
    post:
      description: |
        Encrypted and decrypted webhook sent to merchant - retries if response HTTP status code is not 200.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/payments-api-flows#webhook-flow).
      operationId: merchant_webhook
      parameters:
      - explode: false
        in: header
        name: X-Initialization-Vector
        required: false
        schema:
          description: Initialization vector used to decrypt webhook payload.
          example: 34ba8cf802216b4fab4c3f1z
          type: string
          x-konfig-original-example: 34ba8cf802216b4fab4c3f1z
          x-konfig-generated-schema: konfig-generated-schema-paths---post-parameters-0-schema
        style: simple
      - explode: false
        in: header
        name: X-Authentication-Tag
        required: false
        schema:
          description: Authentication tag.
          example: 50d697553c37c1f9865acc3dc0f8b5az
          type: string
          x-konfig-original-example: 50d697553c37c1f9865acc3dc0f8b5az
          x-konfig-generated-schema: konfig-generated-schema-paths---post-parameters-1-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONMerchantWebhook'
          text/plain:
            schema:
              $ref: '#/components/schemas/PlainTextMerchantWebhook'
      responses:
        "200":
          description: OK.
      summary: Merchant webhook
      tags:
      - Payments API outbound
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--
      x-content-type: application/json
      x-accepts: application/json
  /payments:
    get:
      description: |
        Query the status of a transaction using the merchantTransactionId. Could return multiple results.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/payments-api-flows#transaction-status-flow).
      operationId: transaction_status
      parameters:
      - explode: true
        in: query
        name: authentication.userId
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: form
      - explode: true
        in: query
        name: authentication.password
        required: true
        schema:
          $ref: '#/components/schemas/Password'
        style: form
      - explode: true
        in: query
        name: authentication.entityId
        required: true
        schema:
          $ref: '#/components/schemas/EntityId'
        style: form
      - explode: true
        in: query
        name: merchantTransactionId
        required: true
        schema:
          $ref: '#/components/schemas/MerchantTransactionId'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransactionIdStatusResponse'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400Response'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorised.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error.
          x-do-not-generate: true
      summary: Query a transaction by merchantTransactionId
      tags:
      - Payments API inbound
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--payments
      x-accepts: application/json
    post:
      description: "Initiate a debit transaction.\n\nCertain parameters are mandatory\
        \ for specific payment methods and certain parameters act differently depending\
        \ on the payment method. \n\n- For 1Voucher, `customer.mobile` (the customer's\
        \ phone number for receiving change vouchers and refunds) and `virtualAccount.password`\
        \ (the voucher PIN) are mandatory.\n- For M-PESA, `virtualAccount.accountId`\
        \ (the customer's 12-digit phone number) is mandatory. M-PESA only accepts\
        \ integer amounts, not decimals, so round up your amount.\n- For blink by\
        \ Emtel and MCB Juice, `virtualAccount.accountId` (the customer's 8-digit\
        \ phone number) is mandatory.\n- For Mobicred, `virtualAccount.accountId`\
        \ (the customer's Mobicred email address) and `virtualAccount.password` (the\
        \ customer's Mobicred password) are mandatory.\n- For Capitec Pay, `virtualAccount.type`\
        \ (the customer's identifier type; `IDNUMBER`, `CELLPHONE`, or `ACCOUNTNUMBER`)\
        \ and `virtualAccount.accountId` (the customer's 13-digit ID number, 10-digit\
        \ phone number starting with `0`, or up-to 64-digit, alphanumeric bank account\
        \ number) are mandatory. High-risk merchants must provide the verified `IDNUMBER`\
        \ and cannot use the `CELLPHONE` or `ACCOUNTNUMBER` account types.\n- For\
        \ EFTsecure, Payflex, ZeroPay, FinChoicePay, Scan to Pay, M-PESA, blink by\
        \ Emtel, Mobicred, Capitec Pay, Nebank Direct EFT, and MCB Juice, the `shopperResultUrl`\
        \ is mandatory.\n\nFor more information, see the [documentation](https://developer.peachpayments.com/docs/payments-api-flows#payment-flow)\
        \ and for sample calls, see our [public Postman collection](https://www.postman.com/peachpayments/workspace/peach-payments-public-workspace/request/13324425-693c4b18-dad5-4b6f-aeb0-99bc28b94812).\n"
      operationId: PaymentsApiInbound_initiateDebitTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsApiInboundInitiateDebitTransactionResponse'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400Response'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorised.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error.
          x-do-not-generate: true
      summary: Payment
      tags:
      - Payments API inbound
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments
      x-content-type: application/json
      x-accepts: application/json
  /payments/{uniqueId}:
    get:
      description: |
        Query the status of a transaction using the Peach Payments unique ID.

        For more information, see the [documentation](https://developer.peachpayments.com/docs/payments-api-flows#transaction-status-flow).
      operationId: PaymentsApiInbound_queryTransactionById
      parameters:
      - description: The Peach Payments unique ID for the transaction.
        explode: false
        in: path
        name: uniqueId
        required: true
        schema:
          $ref: '#/components/schemas/UniqueId'
        style: simple
      - description: Authentication entityId.
        explode: true
        in: query
        name: authentication.entityId
        required: true
        schema:
          $ref: '#/components/schemas/EntityId'
        style: form
      - description: Authentication userId.
        explode: true
        in: query
        name: authentication.userId
        required: true
        schema:
          $ref: '#/components/schemas/UserId'
        style: form
      - description: Authentication password.
        explode: true
        in: query
        name: authentication.password
        required: true
        schema:
          $ref: '#/components/schemas/Password'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionIdStatusResponse'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400Response'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorised.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error.
          x-do-not-generate: true
      summary: Query a transaction by transaction ID
      tags:
      - Payments API inbound
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--payments-uniqueId
      x-accepts: application/json
    post:
      description: |
        Refund a successful debit transaction. You can only refund [certain payment methods](https://developer.peachpayments.com/docs/pp-payment-methods).

        For more information, see the [documentation](https://developer.peachpayments.com/docs/payments-api-flows#refund-flow).
      operationId: PaymentsApiInbound_refundTransaction
      parameters:
      - description: The Peach Payments unique ID of the original debit transaction.
        explode: false
        in: path
        name: uniqueId
        required: true
        schema:
          $ref: '#/components/schemas/UniqueId'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsApiInboundRefundTransactionResponse'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400Response'
          description: Bad request.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorised.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found.
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error.
          x-do-not-generate: true
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsApiInboundRefundTransaction502Response'
          description: Bad gateway.
          x-do-not-generate: true
      summary: Refund
      tags:
      - Payments API inbound
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments-uniqueId
      x-content-type: application/json
      x-accepts: application/json
components:
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400Response'
      description: Bad request.
      x-do-not-generate: true
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthorised.
      x-do-not-generate: true
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found.
      x-do-not-generate: true
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Internal server error.
      x-do-not-generate: true
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Forbidden.
      x-do-not-generate: true
    RefundErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentsApiInboundRefundTransaction502Response'
      description: Bad gateway.
      x-do-not-generate: true
  schemas:
    Checkout:
      example:
        defaultPaymentMethod: CARD
        notificationUrl: https://mydemostore.com/OrderNo453432/webhook
        billing.street2: LocalityA
        shipping.city: Cape Town
        billing.country: ZA
        signature: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
        customer.surname: Smith
        billing.street1: 1 Example Road
        shipping.postcode: "1234"
        shipping.country: ZA
        customer.birthDate: 1970-02-17
        originator: Webstore
        paymentType: DB
        cart.tax: "15.00"
        billing.city: Cape Town
        shipping.street1: 1 Example Road
        shipping.street2: LocalityA
        shipping.company: CompanyA
        authentication.entityId: 8ac7a4ca68c22c4d0168c2caab2e0025
        customer.merchantCustomerId: "971020"
        merchantTransactionId: OrderNo453432
        customer.phone: "27123456789"
        currency: ZAR
        customer.mobile: "27123456789"
        cart.discount: "02.25"
        amount: "1010.22"
        customer.email: johnsmith@mail.com
        billing.state: Western Cape
        cart.shippingAmount: "12.25"
        forceDefaultMethod: "false"
        shopperResultUrl: https://mydemostore.com/OrderNo453432
        customer.ip: 192.168.1.1
        createRegistration: "false"
        customParameters[name]: "name: Name1 value: Value1"
        nonce: UNQ00012345678
        billing.postcode: "1234"
        customer.status: EXISTING
        cancelUrl: https://mydemostore.com/OrderNo453432/cancelled
        merchantInvoiceId: INV-0001
        customer.idNumber: "9001010000084"
        shipping.state: Western Cape
        returnTo: STORE
        billing.company: CompanyA
        customer.givenName: John
      properties:
        authentication.entityId:
          description: "The entity for the request. By default, this is the channel\
            \ ID."
          example: 8ac7a4ca68c22c4d0168c2caab2e0025
          maxLength: 32
          type: string
          x-konfig-original-example: 8ac7a4ca68c22c4d0168c2caab2e0025
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-authentication.entityId
        signature:
          description: "Token to verify the integrity of the payment, ensuring that\
            \ only the merchant sending the request is accepted."
          example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
          maxLength: 64
          type: string
          x-konfig-original-example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-signature
        merchantTransactionId:
          description: Merchant-provided reference number unique for your transactions.
          example: OrderNo453432
          format: 8-16
          maxLength: 16
          minLength: 8
          type: string
          x-konfig-original-example: OrderNo453432
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-merchantTransactionId
        amount:
          description: "The amount of the payment request. The period is used as the\
            \ decimal separator. M-PESA does not support decimal amounts, so Checkout\
            \ automatically rounds them up."
          example: "1010.22"
          format: "^[0-9]{1,8}(\\\\.[0-9]{2})?$"
          type: string
          x-konfig-original-example: 1010.22
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-amount
        paymentType:
          description: |
            The payment type for the request. Accepts `DB`.

            Does not accept `RG`, but you can tokenise a card by performing a DB with `createRegistration`.

            Refund transactions through the Dashboard or as described in the <a href="https://developer.peachpayments.com/docs/checkout-refund" target="_blank">documentation</a>.
          enum:
          - DB
          example: DB
          type: string
          x-konfig-original-example: DB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-paymentType
        currency:
          description: The currency code of the payment request amount.
          enum:
          - ZAR
          - USD
          - KES
          - MUR
          - GBP
          - EUR
          example: ZAR
          type: string
          x-konfig-original-example: ZAR
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-currency
        nonce:
          description: Unique value to represent each request.
          example: UNQ00012345678
          format: string (1-64)
          maxLength: 64
          type: string
          x-konfig-original-example: UNQ00012345678
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-nonce
        shopperResultUrl:
          description: Checkout uses a POST request to redirect the customer to this
            URL after the customer completes checkout. Must be a valid URL that can
            be accessed through a browser.
          example: https://mydemostore.com/OrderNo453432
          format: string (6-2048)
          type: string
          x-konfig-original-example: https://mydemostore.com/OrderNo453432
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shopperResultUrl
        defaultPaymentMethod:
          description: The preferred payment method which is active in the checkout
            page at the point of redirecting.
          enum:
          - CARD
          - MASTERPASS
          - MOBICRED
          - EFTSECURE
          - MPESA
          - 1FORYOU
          - APLUS
          - PAYPAL
          - ZEROPAY
          - PAYFLEX
          - FINCHOICEPAY
          - BLINKBYEMTEL
          - CAPITECPAY
          - NEDBANKDIRECTEFT
          - PAYBYBANK
          - APPLE PAY
          - MCBJUICE
          example: CARD
          type: string
          x-konfig-original-example: CARD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-defaultPaymentMethod
        forceDefaultMethod:
          default: "false"
          description: Force the default payment method to be the only payment method.
          enum:
          - "true"
          - "false"
          example: "false"
          type: string
          x-konfig-original-example: "false"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-forceDefaultMethod
        merchantInvoiceId:
          description: Merchant-provided invoice number unique for your transactions.
            This identifier is not sent onwards.
          example: INV-0001
          format: string (8-255)
          maxLength: 255
          minLength: 8
          type: string
          x-konfig-original-example: INV-0001
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-merchantInvoiceId
        cancelUrl:
          description: The customer is redirected to this URL if they cancel checkout.
            It must be a valid URL that can be reached through a browser.
          example: https://mydemostore.com/OrderNo453432/cancelled
          format: string (6-2048)
          type: string
          x-konfig-original-example: https://mydemostore.com/OrderNo453432/cancelled
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-cancelUrl
        notificationUrl:
          description: "Override the preconfigured webhook URL for this checkout instance,\
            \ any changes to checkout will send a webhook to this url."
          example: https://mydemostore.com/OrderNo453432/webhook
          format: string (6-2048)
          type: string
          x-konfig-original-example: https://mydemostore.com/OrderNo453432/webhook
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-notificationUrl
        customParameters[name]:
          description: A name value pair used for sending custom information.
          example: "name: Name1 value: Value1"
          format: "name: [a-zA-Z0-9\\._]{3,64} value: [\\s\\S]{0,2048}"
          type: string
          x-konfig-original-example: "name: Name1 value: Value1"
          x-konfig-generated-schema: "konfig-generated-schema-components-schemas-Checkout-properties-customParameters[name]"
        customer.merchantCustomerId:
          description: An identifier for this customer. Typically this is the ID that
            identifies the shopper in the shop's system.
          example: "971020"
          format: "[\\s\\S]{0,48}"
          maxLength: 48
          minLength: 0
          type: string
          x-konfig-original-example: 971020
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.merchantCustomerId
        customer.givenName:
          description: |
            The customer's first name or given name.

            Required if you send in any other customer parameters, and for some risk checks and payment providers.

            Peach Payments recommends including the name so that it displays in the Peach Dashboard and is available for subsequent queries.

            Truncated after 48 characters.
          example: John
          format: "[\\s\\S]{0,48}"
          maxLength: 48
          minLength: 0
          type: string
          x-konfig-original-example: John
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.givenName
        customer.surname:
          description: |
            The customer's last name or surname.

            Required if you send in any other customer parameters, and for some risk checks and payment providers.

            Peach Payments recommends including the surname so that it displays in the Peach Dashboard and is available for subsequent queries.

            Truncated after 48 characters.
          example: Smith
          format: "[\\s\\S]{0,48}"
          maxLength: 48
          minLength: 0
          type: string
          x-konfig-original-example: Smith
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.surname
        customer.mobile:
          description: The customer's mobile number.
          example: "27123456789"
          format: "[+0-9][0-9 \\.()/-]{5,24}"
          maxLength: 24
          minLength: 5
          type: string
          x-konfig-original-example: 27123456789
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.mobile
        customer.email:
          description: The customer's email address.
          example: johnsmith@mail.com
          format: "[\\s\\S]{6,128}"
          maxLength: 128
          minLength: 6
          type: string
          x-konfig-original-example: johnsmith@mail.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.email
        customer.status:
          description: The customer's status. Accepts `NEW` or `EXISTING`.
          enum:
          - NEW
          - EXISTING
          example: EXISTING
          type: string
          x-konfig-original-example: EXISTING
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.status
        customer.birthDate:
          description: The customer's birth date in the yyyy-MM-dd format.
          example: 1970-02-17
          format: yyyy-MM-dd
          type: string
          x-konfig-original-example: 1970-02-17
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.birthDate
        customer.ip:
          description: The customer's IP address.
          example: 192.168.1.1
          format: "[\\s\\S]{1,255}"
          maxLength: 255
          minLength: 1
          type: string
          x-konfig-original-example: 192.168.1.1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.ip
        customer.phone:
          description: The customer's phone number.
          example: "27123456789"
          format: "[+0-9][0-9 \\.()/-]{5,24}"
          maxLength: 24
          minLength: 5
          type: string
          x-konfig-original-example: 27123456789
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.phone
        customer.idNumber:
          description: "The customer's ID number, required for high-risk merchants\
            \ supporting Capitec Pay."
          example: "9001010000084"
          format: "[\\s\\S]{13,13}"
          maxLength: 13
          minLength: 13
          type: string
          x-konfig-original-example: 9001010000084
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-customer.idNumber
        billing.street1:
          description: "The door number, floor, building number, building name, and/or\
            \ street name of the billing address."
          example: 1 Example Road
          format: "[\\s\\S]{1,100}"
          maxLength: 100
          minLength: 1
          type: string
          x-konfig-original-example: 1 Example Road
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-billing.street1
        billing.street2:
          description: "The adjoining road or locality, if required, of the billing\
            \ address."
          example: LocalityA
          format: "[\\s\\S]{1,100}"
          maxLength: 100
          minLength: 1
          type: string
          x-konfig-original-example: LocalityA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-billing.street2
        billing.city:
          description: "The town, district, or city of the billing address."
          example: Cape Town
          format: "[\\s\\S]{1,80}"
          maxLength: 80
          minLength: 1
          type: string
          x-konfig-original-example: Cape Town
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-billing.city
        billing.company:
          description: The company of the billing address.
          example: CompanyA
          format: "[\\s\\S]{1,64}"
          maxLength: 64
          minLength: 1
          type: string
          x-konfig-original-example: CompanyA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-billing.company
        billing.country:
          description: The country of the billing address (ISO 3166-1).
          example: ZA
          format: ISO 3166-1
          maxLength: 3
          minLength: 3
          type: string
          x-konfig-original-example: ZA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-billing.country
        billing.state:
          description: "The county, state, or region of the billing address."
          example: Western Cape
          format: "[\\s\\S]{1,50}"
          maxLength: 50
          minLength: 1
          type: string
          x-konfig-original-example: Western Cape
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-billing.state
        billing.postcode:
          description: The postal code or ZIP code of the billing address.
          example: "1234"
          format: "[\\s\\S]{1,30}"
          maxLength: 30
          minLength: 1
          type: string
          x-konfig-original-example: 1234
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-billing.postcode
        shipping.street1:
          description: "The door number, floor, building number, building name, and/or\
            \ street name of the shipping address."
          example: 1 Example Road
          format: "[\\s\\S]{1,100}"
          maxLength: 100
          minLength: 1
          type: string
          x-konfig-original-example: 1 Example Road
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shipping.street1
        shipping.street2:
          description: "The adjoining road or locality, if required, of the shipping\
            \ address."
          example: LocalityA
          format: "[\\s\\S]{1,100}"
          maxLength: 100
          minLength: 1
          type: string
          x-konfig-original-example: LocalityA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shipping.street2
        shipping.city:
          description: "The town, district, or city of the shipping address."
          example: Cape Town
          format: "[\\s\\S]{1,80}"
          maxLength: 80
          minLength: 1
          type: string
          x-konfig-original-example: Cape Town
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shipping.city
        shipping.company:
          description: The company of the shipping address.
          example: CompanyA
          format: "[\\s\\S]{1,64}"
          maxLength: 64
          minLength: 1
          type: string
          x-konfig-original-example: CompanyA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shipping.company
        shipping.postcode:
          description: The postal code or ZIP code of the shipping address.
          example: "1234"
          format: "[\\s\\S]{1,30}"
          maxLength: 30
          minLength: 1
          type: string
          x-konfig-original-example: 1234
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shipping.postcode
        shipping.country:
          description: The country of the shipping address (ISO 3166-1).
          example: ZA
          format: ISO 3166-1
          maxLength: 3
          minLength: 3
          type: string
          x-konfig-original-example: ZA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shipping.country
        shipping.state:
          description: "The county, state, or region of the shipping address."
          example: Western Cape
          format: "[\\s\\S]{1,50}"
          maxLength: 50
          minLength: 1
          type: string
          x-konfig-original-example: Western Cape
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-shipping.state
        cart.tax:
          description: The tax percentage applied to the price of the item in the
            shopping cart.
          example: "15.00"
          format: "^[0-9]{1,8}(\\\\.[0-9]{2})?$"
          type: string
          x-konfig-original-example: "15.00"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-cart.tax
        cart.shippingAmount:
          description: The total amount of the cart item including quantity.
          example: "12.25"
          format: "^[0-9]{1,8}(\\\\.[0-9]{2})?$"
          type: string
          x-konfig-original-example: "12.25"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-cart.shippingAmount
        cart.discount:
          description: Discount amount applied on order amount.
          example: "02.25"
          format: "^[0-9]{1,8}(\\\\.[0-9]{2})?$"
          type: string
          x-konfig-original-example: "02.25"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-cart.discount
        createRegistration:
          description: Used to enable card tokenisation with COPYandPAY.
          enum:
          - "true"
          - "false"
          example: "false"
          type: string
          x-konfig-original-example: "false"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-createRegistration
        originator:
          description: Used to provide a name for the application that is creating
            the checkout instance.
          example: Webstore
          maxLength: 100
          type: string
          x-konfig-original-example: Webstore
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Checkout-properties-originator
        returnTo:
          description: Text to display on "Return to Store" button on completing checkout.
          enum:
          - STORE
          - INVOICE
          type: string
      required:
      - amount
      - authentication.entityId
      - currency
      - merchantTransactionId
      - nonce
      - paymentType
      - shopperResultUrl
      - signature
      type: object
    CheckoutStatus:
      example:
        redirect_post_data:
          result.description: Successfully created checkout.
          amount: "14.99"
          merchantTransactionId: merchantTransactionId
          currency: ZAR
          checkoutId: 948cc8dec52a11eb85290242ac130003
          result.code: 000.200.100
          paymentType: DB
          timestamp: 2021-06-17T14:22:22Z
        redirect_url: redirect_url
        status: PROCESSING
        timestamp: "1800"
      properties:
        status:
          description: The status of the object.
          example: PROCESSING
          type: string
          x-konfig-original-example: PROCESSING
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutStatus-properties-status
        timestamp:
          description: "The remaining time, in seconds, of the checkout instance."
          example: "1800"
          type: string
          x-konfig-original-example: 1800
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutStatus-properties-timestamp
        redirect_url:
          description: Redirect URL for Checkout.
          type: string
        redirect_post_data:
          $ref: '#/components/schemas/RedirectPostData'
      type: object
      x-konfig-is-used-in-successful-response: true
    RedirectPostData:
      example:
        result.description: Successfully created checkout.
        amount: "14.99"
        merchantTransactionId: merchantTransactionId
        currency: ZAR
        checkoutId: 948cc8dec52a11eb85290242ac130003
        result.code: 000.200.100
        paymentType: DB
        timestamp: 2021-06-17T14:22:22Z
      properties:
        amount:
          description: The checkout amount.
          example: "14.99"
          type: string
          x-konfig-original-example: "14.99"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RedirectPostData-properties-amount
        checkoutId:
          example: 948cc8dec52a11eb85290242ac130003
          type: string
          x-konfig-original-example: 948cc8dec52a11eb85290242ac130003
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RedirectPostData-properties-checkoutId
        currency:
          description: The currency code of the payment request amount.
          enum:
          - ZAR
          - USD
          - KES
          - MUR
          - GBP
          - EUR
          example: ZAR
          type: string
          x-konfig-original-example: ZAR
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RedirectPostData-properties-currency
        merchantTransactionId:
          description: The merchant transaction ID set when creating the checkout.
          type: string
        paymentType:
          enum:
          - DB
          example: DB
          type: string
          x-konfig-original-example: DB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RedirectPostData-properties-paymentType
        result.code:
          description: A code representing the transaction state.
          example: 000.200.100
          type: string
          x-konfig-original-example: 000.200.100
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RedirectPostData-properties-result.code
        result.description:
          description: A friendly message.
          example: Successfully created checkout.
          type: string
          x-konfig-original-example: Successfully created checkout.
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RedirectPostData-properties-result.description
        timestamp:
          description: Date and time when the checkout was created.
          example: 2021-06-17T14:22:22Z
          type: string
          x-konfig-original-example: 2021-06-17T14:22:22Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-RedirectPostData-properties-timestamp
      type: object
    CheckoutError:
      properties:
        result.code:
          description: A code representing the error.
          example: 200.300.404
          type: string
          x-konfig-original-example: 200.300.404
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutError-properties-result.code
        result.description:
          description: A friendly error message.
          example: Invalid or missing parameter.
          type: string
          x-konfig-original-example: Invalid or missing parameter.
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutError-properties-result.description
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    MessageResponse:
      example:
        message: message
      properties:
        message:
          type: string
      required:
      - message
      type: object
      x-konfig-is-used-in-successful-response: true
      x-konfig-is-used-in-non-successful-response: true
    CheckoutPage:
      description: The checkout frontend HTML page.
      type: string
      x-konfig-is-used-in-successful-response: true
    CheckoutErrorPage:
      description: An error page detailing the error that has occured.
      type: string
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    CheckoutBaseWebhook:
      description: The base model for webhooks.
      properties:
        amount:
          description: "The amount of the payment request. The period is used as the\
            \ decimal separator. M-PESA does not support decimal amounts, so Checkout\
            \ automatically rounds them up."
          example: "1010.22"
          format: "^[0-9]{1,8}(\\\\.[0-9]{2})?$"
          type: string
          x-konfig-original-example: 1010.22
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutBaseWebhook-properties-amount
        checkoutId:
          description: Checkout ID.
          example: 948cc8dec52a11eb85290242ac130003
          maxLength: 64
          type: string
          x-konfig-original-example: 948cc8dec52a11eb85290242ac130003
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutBaseWebhook-properties-checkoutId
        currency:
          description: The currency code of the payment request amount.
          enum:
          - ZAR
          - USD
          - KES
          - MUR
          - GBP
          - EUR
          example: ZAR
          type: string
          x-konfig-original-example: ZAR
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutBaseWebhook-properties-currency
        merchantTransactionId:
          description: Merchant-provided reference number unique for your transactions.
          example: OrderNo453432
          format: 8-16
          maxLength: 16
          minLength: 8
          type: string
          x-konfig-original-example: OrderNo453432
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutBaseWebhook-properties-merchantTransactionId
        paymentType:
          description: The payment type for the request.
          enum:
          - DB
          example: DB
          type: string
          x-konfig-original-example: DB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutBaseWebhook-properties-paymentType
        result.code:
          description: A code representing the checkout state.
          type: string
        result.description:
          description: A friendly message.
          type: string
        signature:
          description: "Token to verify the integrity of the webhook, ensuring the\
            \ request is coming from Checkout."
          example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
          maxLength: 64
          type: string
          x-konfig-original-example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutBaseWebhook-properties-signature
        timestamp:
          description: Date and time when the webhook was sent.
          example: 2023-07-04T08:10:05Z
          type: string
          x-konfig-original-example: 2023-07-04T08:10:05Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutBaseWebhook-properties-timestamp
      readOnly: true
      type: object
    CheckoutCreatedWebhook:
      allOf:
      - $ref: '#/components/schemas/CheckoutBaseWebhook'
      - $ref: '#/components/schemas/CheckoutCreatedWebhook_allOf'
      description: Webhook sent when a checkout instance is created.
    CheckoutCancelledWebhook:
      allOf:
      - $ref: '#/components/schemas/CheckoutBaseWebhook'
      - $ref: '#/components/schemas/CheckoutCancelledWebhook_allOf'
      description: Webhook sent when a checkout instance is cancelled.
    CheckoutUncertainWebhook:
      allOf:
      - $ref: '#/components/schemas/CheckoutBaseWebhook'
      - $ref: '#/components/schemas/CheckoutUncertainWebhook_allOf'
      description: Webhook sent when a checkout instance is potentially cancelled
        by a user.
    CheckoutPendingWebhook:
      allOf:
      - $ref: '#/components/schemas/CheckoutBaseWebhook'
      - $ref: '#/components/schemas/CheckoutPendingWebhook_allOf'
      description: Webhook sent when a transaction is created on a checkout instance.
    CheckoutSuccessfulWebhook:
      allOf:
      - $ref: '#/components/schemas/CheckoutPendingWebhook'
      - $ref: '#/components/schemas/CheckoutSuccessfulWebhook_allOf'
      - oneOf:
        - properties:
            card.bin:
              type: string
            card.holder:
              type: string
            card.last4Digits:
              type: string
          type: object
        - properties:
            paymentBrand:
              default: EFTSECURE
              example: EFTSECURE
              type: string
              x-konfig-original-example: EFTSECURE
              x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutSuccessfulWebhook-allOf-2-oneOf-1-properties-paymentBrand
          type: object
      description: Webhook sent when a checkout instance is successfully completed.
    CheckoutV2:
      example:
        defaultPaymentMethod: CARD
        notificationUrl: https://mydemostore.com/OrderNo453432/webhook
        amount: 1010.22
        forceDefaultMethod: true
        shopperResultUrl: https://mydemostore.com/OrderNo453432
        createRegistration: true
        originator: Webstore
        nonce: UNQ00012345678
        billing:
          country: ZA
          city: Cape Town
          postcode: "1234"
          street1: 1 Example Road
          company: CompanyA
          street2: LocalityA
          state: Western Cape
        cancelUrl: https://mydemostore.com/OrderNo453432/cancelled
        shipping:
          country: ZA
          city: Cape Town
          postcode: "1234"
          street1: 1 Example Road
          company: CompanyA
          street2: LocalityA
          state: Western Cape
        merchantInvoiceId: INV-00001
        authentication.entityId: 8ac7a4ca68c22c4d0168c2caab2e0025
        merchantTransactionId: OrderNo453432
        returnTo: STORE
        currency: ZAR
        customParameters:
          key: customParameters
        customer:
          surname: Smith
          givenName: John
          merchantCustomerId: "971020"
          mobile: "27123456789"
          idNumber: "9001010000084"
          email: johnsmith@mail.com
      properties:
        authentication.entityId:
          description: "The entity for the request. By default, this is the channel\
            \ ID."
          example: 8ac7a4ca68c22c4d0168c2caab2e0025
          maxLength: 32
          type: string
          x-konfig-original-example: 8ac7a4ca68c22c4d0168c2caab2e0025
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-authentication.entityId
        merchantTransactionId:
          description: Merchant-provided reference number unique for your transactions.
          example: OrderNo453432
          format: 8-16
          maxLength: 16
          minLength: 8
          type: string
          x-konfig-original-example: OrderNo453432
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-merchantTransactionId
        amount:
          description: |
            The amount of the payment request. The period is used as the decimal separator.

            M-PESA does not support decimal amounts, so Checkout automatically rounds them up.
          example: 1010.22
          format: "^[0-9]{1,8}(\\\\.[0-9]{2})?$"
          maximum: 99999999.99
          minimum: 0.01
          type: number
          x-konfig-original-example: 1010.22
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-amount
        currency:
          description: The currency code of the payment request amount.
          enum:
          - ZAR
          - USD
          - KES
          - MUR
          - GBP
          - EUR
          example: ZAR
          type: string
          x-konfig-original-example: ZAR
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-currency
        nonce:
          description: Unique value to represent each request.
          example: UNQ00012345678
          format: string (1-64)
          maxLength: 64
          minLength: 1
          type: string
          x-konfig-original-example: UNQ00012345678
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-nonce
        shopperResultUrl:
          description: Checkout uses a POST request to redirect the customer to this
            URL after the customer completes checkout. Must be a valid URL that can
            be accessed through a browser.
          example: https://mydemostore.com/OrderNo453432
          format: string (6-2048)
          type: string
          x-konfig-original-example: https://mydemostore.com/OrderNo453432
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-shopperResultUrl
        defaultPaymentMethod:
          description: The preferred payment method which is active in the checkout
            page at the point of redirecting.
          enum:
          - CARD
          - MASTERPASS
          - MOBICRED
          - EFTSECURE
          - MPESA
          - 1FORYOU
          - APLUS
          - PAYPAL
          - ZEROPAY
          - PAYFLEX
          - FINCHOICEPAY
          - BLINKBYEMTEL
          - CAPITECPAY
          - NEDBANKDIRECTEFT
          - PAYBYBANK
          - MCBJUICE
          example: CARD
          type: string
          x-konfig-original-example: CARD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-defaultPaymentMethod
        forceDefaultMethod:
          default: false
          description: Force the default payment method to be the only payment method.
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-forceDefaultMethod
        merchantInvoiceId:
          description: Merchant-provided invoice number unique for your transactions.
            This identifier is not sent onwards.
          example: INV-00001
          format: string (8-255)
          maxLength: 255
          minLength: 8
          type: string
          x-konfig-original-example: INV-00001
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-merchantInvoiceId
        cancelUrl:
          description: The customer is redirected to this URL if they cancel checkout.
            It must be a valid URL that can be reached through a browser.
          example: https://mydemostore.com/OrderNo453432/cancelled
          format: string (6-2048)
          type: string
          x-konfig-original-example: https://mydemostore.com/OrderNo453432/cancelled
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-cancelUrl
        notificationUrl:
          description: "Override the preconfigured webhook URL for this checkout instance,\
            \ any changes to checkout send a webhook to this URL."
          example: https://mydemostore.com/OrderNo453432/webhook
          format: string (6-2048)
          type: string
          x-konfig-original-example: https://mydemostore.com/OrderNo453432/webhook
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CheckoutV2-properties-notificationUrl
        customParameters:
          additionalProperties:
            maxLength: 2048
            minLength: 0
            type: string
          description: A name value pair used for sending custom information.
          type: object
        customer:
          $ref: '#/components/schemas/CheckoutV2_customer'
        billing:
          $ref: '#/components/schemas/CheckoutV2_billing'
        shipping:
          $ref: '#/components/schemas/CheckoutV2_shipping'
        createRegistration:
          description: Used to enable card tokenisation with COPYandPAY.
          example: true
          type: boolean
          x-konfig-original-example: true
[...]
